:root{
    --bg-color:black;
    --text-color:white;
    --class-color:yellow;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--bg-color);
    color: var(--text-color);
}

h1 h2 h3 h4 h5 h6 ul li p span{
    padding: 0;
    margin: 0;
}

/* This is important for this lesson. */
body{
    scroll-behavior: smooth;
    color: var(--class-color);
}
